*{
    box-sizing: border-box
}
.text-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.text-chat-container {
    min-width: 60vw;
    
    position: relative;
}

.header-info {
    display: flex;
    flex-direction: column;
}

#therapist-info-container {
    border-right: 1px solid black;
    max-height: 100%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.therapist-box {
    height: inherit;
    padding: 20px;
    border-radius: 15px;
    font-size: 15px;
    min-height: 450px;
    width: 300px;
    background-color: #e4e2e2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.732);
}

.therapist-box :nth-child(2) {
    color: blue;
    font-size: 20px;
    margin-bottom: 30px;
}
.therapist-box div {
    display: flex;
    justify-content: center;
}
.therapist-box img {
    object-fit: cover;
    width: 180px; 
    height: 180px; 
    border-radius: 50%;
    margin-bottom: 30px;
}

.text-chat-header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    height:10%;
    border-bottom: 1px solid grey;
}
.text-chat-header .image-container img{
    height:50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.text-chat-footer {
    width: 60%;
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 20px;
    height: 10%;
    bottom: 0px;
    background-color: white; 
    display: flex; 
    align-items: center;    
    box-sizing: border-box; 
}


.text-chat-body {
    height: 80%;
    width: 60vw;
    border: black;
    overflow-y: scroll;
    display: flex;
    /*display: flex;
    flex-direction: column;   */
}

.sent-message {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
    width: 58vw;
    
    box-sizing: border-box
  }
.received-message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 10px;
    /* width: 100%; */
    box-sizing: border-box;
    
  }

  .message-box {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
  }
  .profile-pic {
    align-self: flex-end;
    text-align: start;
    margin-right: 30px;
  }

  .received-message .message-box .message-content-box {
    direction: ltr;
    display: inline-block;
    border-radius: 10px;
    max-width: 400px;
    word-wrap: break-word;
    background-color: #F2F2F7;
    padding: 5px;
  }

  .sent-message .message-box .message-content-box{
    display: inline-block;
    border-radius: 10px;
    max-width: 400px;
    word-wrap: break-word;
    background-color: #007AFF;
    color: white;
    text-align: end;
    padding: 5px;
  }

  .message-content-box p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .user-name-message {
    font-size: 12px;
    margin-bottom: 10px;
    color:black
  }

  .message-date {
    font-size: 12px;
  }

  .text-chat-footer input {
    width: 100%;
    height: 100%
    
  }
  .text-chat-footer button {
    width: 10%;
    height:100%;
    border-radius: 10px;
    background-color: rgb(61, 61, 245);
    color:white;
  }
  

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background */
    z-index: 1000; /* Ensure it appears above other content */
  }
  

.profile-pic img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
  